body {
  .button {
    background-color: #04AA6D; /* Green */
  }
  .button.on {
    background-color: #f44336; /* Red */ 
  }
  .connecting {
    display: flex;
    justify-content: flex-end;
    width: 30ch;
    background-color: #04aa6d;
    text-align: right;
  }
  .connected {
    display: flex;
    justify-content: flex-end;
    width: 30ch;
    background-color: #04aa6d;
    text-align: right;
  }
  .disconnected {
    display: flex;
    justify-content: flex-end;
    width: 30ch;
    background-color: #ff0000;
    text-align: right;
  }
  .logdiv {
    display: none; /* Initially hidden */
    position: fixed; /* Covers the whole viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black background */
    color: white;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    z-index: 1000; /* Ensure it's on top of other elements */
    font-size: 2em;
    text-align: center;
  }
}

